Source: gad
Section: utils
Priority: extra
Maintainer: Fabian Knittel <fabian.knittel@fsmi.uni-karlsruhe.de>
Build-Depends: debhelper (>= 5.0.38), python-support (>= 0.5.3)
Standards-Version: 3.8.0

Package: gad
Architecture: all
Depends: ${python:Depends}, python-pylibacl
Provides: ${python:Provides}
Description: Keep directories accessible by POSIX ACL groups
 gad ensures that the directories specified in a configuration-file are
 accessible and stay accessible by certain ACL groups and / or users.
 The script supports multiple reader, writer and/or executable groups per
 directory. Simple exclude filters are supported as well.
 .
 The script is intended for work-group directories with multiple people
 reading and writing to the directory. Default ACLs are used to prevent
 participants (e.g. with a strict umask) from unintentionally creating files or
 directories that are not accessible by everyone in the group. To catch corner
 cases where that does not suffice, the script is usually called regularly from
 a cron job.
